<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Create a new listing</h3>
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          placeholder="Add a cachy title"
          name="listing[title]"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Please enter valid Title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Write short description</div>
      </div>

      <!-- <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          placeholder="enter image URL/link"
          name="listing[image]"
          type="text"
          class="form-control"
        />
      </div> -->

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          placeholder="enter image URL/link"
          name="listing[image]"
          type="file"
          class="form-control"
          required
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            placeholder="1200"
            name="listing[price]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            placeholder="India"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          placeholder="Kolkata, West Bengal"
          name="listing[location]"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>

<!-- <script src="/js/script.js"></script> -->
